:root {
    --bg: #f0f1f5;
    --cards: #bfc6d4;
    --primaryText: #0a0e15;
    --secondText: #4e576a;
}

/*body.darkmode {
    --bg: #0a0e15;
    --cards: #373f4e;
    --primaryText: #f0f1f5;
    --secondText: #bfc6d4;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--primaryText);
    overflow: hidden;
}

#mapa {
    display: none;
}

#ficha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#iconw img{
    width: 50px;
}

#pesquisa-container{
    flex: 1;
    margin: 0 15px;
}

#headerMenu i {
    font-size: 2em;
    cursor: pointer;
}

#pesquisa{
    min-width: 350px;
    padding: 8px;
    flex-basis: auto;
}

#headerMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px;
    border-radius: 10px;
    min-width: 180px;
}
#menu.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 490px;
}

div#iconw img{
    width: 50px;
}

div#headercll{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#ulFicha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ulFicha a {
    color: #0a0e15;
    background-color: #f0f1f5;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px 15px;
}
#ulFicha a:hover{
    background-color: #bfc6d4;
    transition: 0.5s;
}

#ulFicha li {
    list-style: none;
}

#ulFicha i{
    font-size: 1.5em;
}

 @media screen and (min-width: 992px) {
    #mapa {
        display: block;
    }

    header#ficha #menuIcon{
        display: none;
    }
 }