:root {
    --bg: #f0f1f5;
    --cards: #bfc6d4;
    --primaryText: #0a0e15;
    --secondText: #4e576a;
}

body.darkmode {
    --bg: #0a0e15;
    --cards: #373f4e;
    --primaryText: #f0f1f5;
    --secondText: #bfc6d4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--primaryText);
    overflow-x: hidden;
    overflow-y: auto;
}

#mapa {
    display: none;
}

#ficha{
    padding: 10px;
}

#iconw img{
    width: 50px;
}

#pesquisa-container{
    flex: 1;
}

nav{
    background-color: transparent;
    border: none;
}

#headerMenu i {
    font-size: 2em;
    cursor: pointer;
}

#pesquisa{
    width: 100%;
    min-width: 0;
}

#pesquisa-container input{
    outline: none;
    border: 1px solid var(--primaryText);
    border-radius: 20px;
    height: 35px;
}

#headerMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}

#menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px;
    border-radius: 10px;
    min-width: 180px;
}
#menu.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 490px;
    background-color: var(--bg);
    border: 1px solid var(--secondText);
    width: 100%;
}

div#iconw img{
    width: 50px;
}
div#iconw{
    flex-shrink: 0;
}

#headercll{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#ulFicha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ulFicha a {
    color: var(--primaryText);
    background-color: var(--bg);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px 15px;
}
#ulFicha a:hover{
    background-color: var(--cards);
    transition: 0.5s;
}

#ulFicha li {
    list-style: none;
}

#ulFicha i{
    font-size: 1.5em;
}

#content {
    display: flex;
    flex-direction: column;
}


#previsaoSeteDias{
    min-height: 200px;
    margin: 10px;
    border-radius: 20px;
}

#climaPrincipal{
    background-color: var(--bg);
    min-height: 200px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#climaPrincipal img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 70px;
}
#climaPrincipal h1{
    font-size: 4em;
    margin-top: 60px;
}
#climaPrincipal h2{
    font-size: 2em;
}
#climaPrincipal #cp1{
    margin: 30px;
}

.forecast-container{
    display: flex;
    background-color: var(--cards);
    border-radius: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    padding: 10px;
}

.forecast-card{
    flex-shrink: 0;
    min-width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 15px;
    border-right: 1px solid rgba(255,255,255,0.15);
    justify-content: space-around;
}
.forecast-card:last-child{
    border-right: none;
}

.forecast-card img{
    width: 40px;
    height: 40px;
}

.forecast-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}

.forecast-container::-webkit-scrollbar {
    display: none; /* Chrome */
}
.forecast-wrapper {
    position: relative;
}

#btnLeft,
#btnRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#btnLeft {
    left: 5px;
}
#btnRight {
    right: 5px;
}

#airConditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--cards);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

#airConditions p {
    grid-column: span 2;
}

.iconConditions {
    display: flex;
}