:root {
    --linear1: #f8eba6 ;
    --linear2: #ffd8c2;
    --bg: #f0f1f5;
    --cards: #f0f1f5;
    --primaryText: #0a0e15;
    --secondText: #4e576a;
}

body.darkmode {
    --linear1: #0c1446;
    --linear2:#2b5c92;
    --bg: #0a0e15;
    --cards: #373f4e;
    --primaryText: #f0f1f5;
    --secondText: #bfc6d4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, var(--linear1), var(--linear2));
    color: var(--primaryText);
    overflow-x: hidden;
    overflow-y: auto;
}

#mapa {
    display: none;
}

#ficha{
    padding: 10px;
}

#iconw img{
    width: 50px;
}

#pesquisa-container{
    flex: 1;
}

nav{
    background-color: transparent;
    border: none;
}

#headerMenu i {
    font-size: 2em;
    cursor: pointer;
}

#pesquisa{
    width: 100%;
    min-width: 0;
}

#pesquisa-container input{
    outline: none;
    border: 1px solid var(--primaryText);
    border-radius: 20px;
    height: 35px;
}

#headerMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}

#menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px;
    border-radius: 10px;
    min-width: 180px;
}
#menu.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 490px;
    background-color: var(--bg);
    border: 1px solid var(--secondText);
    width: 100%;
}

div#iconw img{
    width: 50px;
}
div#iconw{
    flex-shrink: 0;
}

#headercll{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#ulFicha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ulFicha a {
    color: var(--primaryText);
    background-color: var(--bg);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px 15px;
}
#ulFicha a:hover{
    background-color: var(--cards);
    transition: 0.5s;
}

#ulFicha li {
    list-style: none;
}

#ulFicha i{
    font-size: 1.5em;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#climaPrincipal{
    background-color: transparent;
    min-height: 200px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#climaPrincipal img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 70px;
}
#climaPrincipal h1{
    font-size: 4em;
    margin-top: 60px;
}
#climaPrincipal h2{
    font-size: 2em;
}
#climaPrincipal #cp1{
    margin: 30px;
}

#previsaoProximasHoras {
    background-color: var(--bg);
    border-radius: 20px;
    padding: 10px;
}
#previsaoProximasHoras p{
    margin: 10px 0 0 10px;
}

.forecast-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}

.forecast-container::-webkit-scrollbar {
    display: none; /* Chrome */
}

#forecast{
    width: 100%;
    height: 90%;
}

.forecast-container{
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    padding: 20px;
}

.forecast-card{
    flex-shrink: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}
.forecast-card:last-child{
    border-right: none;
}
.forecast-card:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: rgba(255,255,255,0.15);
}

.forecast-card img{
    width: 40px;
    height: 40px;
}

.forecast-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}

#forecast-wrapper{
    position: relative;
    width: 100%;
}

#btnLeft{
    position: absolute;
    left: 5px;
    top: 41%;
    transform: translateY(-50%);
    cursor: pointer;
}

#btnRight{
    position: absolute;
    right: 5px;
    top: 41%;
    transform: translateY(-50%);
    cursor: pointer;
}

#airConditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--bg);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

#airConditions p {
    grid-column: span 2;
}

.iconConditions {
    display: flex;
}

#previsaoDias{
    display: flex;
    gap: 10px;
    flex-direction: column;
    min-height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--bg);
}

#previsaoDias p{
    margin: 20px 0 0 20px;
}

.listaDias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.listaDias:not(:last-child)::after{
    content: "";
    position: absolute;
    background-color: var(--secondText);
    width: 80%;
    height: 1px;
    bottom: -5px;
    left: 10%;
}

.listaDias:first-of-type::after{
    display: none;
}

.listaDias img{
    width: 50px;
}

.listaDias p, span{
    font-size: 1.5em;
    font-weight: bolder;
}

#mapContainer{
    background-color: var(--bg);
    border-radius: 20px;
    height: 400px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}
#mapContainer p{
    padding: 10px 0 0 10px;
}
#map{
    width: 95%;
    height: 90%;
    border-radius: 20px;
    margin: 10px auto auto;
}